*{
    margin:0;
    padding:0;
     

}
body{
    background-image: url(SHALO2.JPG);
   
}
h1{
    color:darkorange;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
    cursor: pointer;
}
ul{
    color:white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    
}
ul li{
    width:1500px;
    text-align: center;
    padding-left:200px;
    margin-top:20px;
    list-style: none;
}

ul li a{
    color:white;
    text-decoration: none;
    transition: 0.4s ease-in-out;

}

ul li a:hover{
    color:darkorange;
}

ul li a:active{
    opacity:0.8;
}




.header{
    font-family: system-ui;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
    padding-right: 80px;
    color: aliceblue;

}


p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
    padding-left: 30px;
    line-height: 25px;
}
.btn{
    color: white;
    border:5px solid darkorange;
    border-radius: 5px;
    background-color: darkorange;
    text-align: center;
    border-width: 8px;
    margin-left: 130px;
    margin-top: 5px;
    
}
h4{
    color: white;
    margin-top: 15px;
}
.form{
    width: 270px;
    height: 420px;
    position: absolute;
    top: 300px;
    left: 850px;
    background-color: rgb(12, 12, 12);
    border-radius: 20px;
    padding: 30px;
}
.form h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(253, 253, 252);
    color: darkorange;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    width: 250px;
}
.form input{
    background-color:black;
    margin: 5px;
    height: 40px;
    border-radius: 10px;
    width: 260px; 
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: darkorange;
    font-size:15px;
    letter-spacing:1px;
   
}
.form input:focus{
    outline: none;
} 

::placeholder{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left:10px
}

.link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    padding-left: 5px;
}

.lw{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
    margin-top: 10px;
    padding-left: 7px;

}

.link a{
    text-decoration: none;
    
}
span{
    color:darkorange;
}

.b{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top:100px;
    padding-right:60px;
}

.bb{
    text-align: center;
    padding-right:110px;
    line-height: 5px;
}

