*{
    padding: 0;
    margin: 0;

}
h1{
   color: darkorange;
   text-shadow: -4px 5px 7px black;
   text-align: center;
   margin-top: 30px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.search{
    padding-left: 380px;

    
}

.srch{
    margin-top: 50px;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: 4px solid;
    background-color: white;
    border-color: darkorange;
    text-align: center;
    font-style:black;

}

.sub{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 4px solid;
    border-color:darkorange;
    color:rgb(8, 8, 8);
    background-color: white;

}