*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: darkorange;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(2, 2, 2);
    border-radius: 10px;
    margin: 20px;
    padding: 8px;
    width: 250px;
}
div{
    padding-left: 450px;
}
